/ComputeArea/nbproject/private/
/ComputeArea/build/
/FarenheitToCelsius/nbproject/private/
/FarenheitToCelsius/build/
/ShowCurrentTime/nbproject/private/
/ShowCurrentTime/build/
/Chapter3MaxNumber/nbproject/private/
/Chapter3MaxNumber/build/
/GradeSheet/nbproject/private/
/GradeSheet/build/
/SwitchCase/nbproject/private/
/SwitchCase/build/
/LeapYear/nbproject/private/
/LeapYear/build/
/TestString/nbproject/private/
/TestString/build/
/TestLoops/nbproject/private/
/TestLoops/build/
/GuessNumber/nbproject/private/
/GuessNumber/build/
/FactorialTest/nbproject/private/
/FactorialTest/build/
/PrimeNumber/nbproject/private/
/PrimeNumber/build/
/TestBreakContinue/nbproject/private/
/TestBreakContinue/build/
/TestMethords/nbproject/private/
/TestMethords/build/
/TestRandomPassword/nbproject/private/
/TestRandomPassword/build/
