/ComputeArea/nbproject/private/
/ComputeArea/build/
/FarenheitToCelsius/nbproject/private/
/FarenheitToCelsius/build/
/ShowCurrentTime/nbproject/private/
/ShowCurrentTime/build/
/Chapter3MaxNumber/nbproject/private/
/Chapter3MaxNumber/build/
/GradeSheet/nbproject/private/
/GradeSheet/build/
/SwitchCase/nbproject/private/
/SwitchCase/build/
/LeapYear/nbproject/private/
/LeapYear/build/
